body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 10px 15vw;
    align-items: center;
}
.header .logo{
    font-family: "Roboto",sans-serif;
    font-size: 32px;
    font-weight:900;
    color:#F9FAF8;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap:36px;
}

a{
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-weight: 300;
    color:#E5E7EB;
    text-decoration: none;
}
.content-1{
    display: flex;
    justify-content: center;
    padding:170px 15vw;
    background-color: #1F2937;
}
.left-panel,.right-panel{
    display:flex;
    flex-direction: column;
    flex:1 1 50%;
    min-width: 200px;
    align-items: flex-start;
}
.right-panel{
    background-color: bisque;
}
.left-panel>*{
    margin-right:70px;
}
h1{
    font-family: "Roboto",sans-serif;
    font-size: 64px;
    font-weight:900;
    color:#F9FAF8;
    margin:0;
}
p{
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-weight: 300;
    color:#E5E7EB;
    margin: 0 0 12px 0;
}
.content-1 button{
    font-family: "Roboto",sans-serif;
    font-size: 22px;
    font-weight:900;
    color:#F9FAF8;
    background-color: #3882F6;
    border:none;
    border-radius:10px;
    padding:10px 43px;
}
.content-2{
    display:flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 150px 0;
}
.content-2 .title{
    font-family: "Roboto",sans-serif;
    font-size: 48px;
    font-weight:900;
    color:#1F2937;
    margin-bottom: 70px;
}
.placeholder{
    width:200px;
    height: 200px;
    border:5px solid #3882F6;
    border-radius: 15px;
    margin-bottom:12px;
}
.item-container{
    display: flex;
    justify-content: center;
    gap:60px;
}
.item{
    max-width: 200px;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-size: 21px;
    font-weight: 400;
    color:#5b646e;
}
.content-3{
    background-color: #E5E7EB;
    padding:171px 24vw 130px;
}
.quotes{
    font-family: "Roboto",sans-serif;
    font-size: 42px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.3;
}
.author{
    text-align: right;
    font-family: "Roboto",sans-serif;
    font-size: 28px;
    font-weight:900;
    color:#212c38;
}
.content-4{
    padding: 125px 15vw;
}
.modal{
    display: flex;
    background-color: #3882F6;
    padding:70px 150px;
    border-radius: 15px;
}
.modal-title{
    font-family: "Roboto",sans-serif;
    font-size: 32px;
    font-weight:900;
    color:#F9FAF8;
}
.modal-text{
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-weight: 400;
    color:#E5E7EB;
}
.content-4 button{
    font-family: "Roboto",sans-serif;
    font-size: 22px;
    font-weight:900;
    color:#F9FAF8;
    background-color: #3882F6;
    border:3px solid white;
    border-radius: 15px;
    padding: 0px 40px;
}
.footer{
    background-color: #1F2937;
    font-family: "Roboto",sans-serif;
    font-size: 22px;
    font-weight:400;
    color:#F9FAF8;
    padding:54px 0;
    text-align: center;
}